<style> 
      body {background-color: antiquewhite;
      }
      #Vietnamesfood {width: 260px;
  height: 195px;
  margin: 10px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;}
#phobo {width: 240px;
  height: 180px;
  margin: 10px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;}
#banhmi {width: 240px;
  height: 180px;
  margin: 10px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;}
Aa


    </style>
